* {
    margin: 0;
    padding:0;
}

header {
    grid-area: header;
}

nav {
    grid-area: nav;
}

aside {
    grid-area: aside;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}

.social {
    grid-area: social;
}

.contenedor-principal {
    display: grid;
    align-items: 100vh;
    grid-template-columns: 30% 70%;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
    "header nav"
    "aside main"
    "footer social";
}

.contenedor-header {
   background-color: black;
   padding: 1rem;
}

.logo {
width: 100%;
}

.contenedor-nav {
    display:flex;
    padding: 1.5rem;
    justify-content: flex-end;
}

.nav-list {
    display: flex;
    list-style: none;
    text-decoration: none;
    text-decoration: none ;
    gap: 20px;
    text-align: center;
    font-style:normal
}

.nav-list li {
font-family: "Roboto Condensed", sans-serif;
padding: 10px;
color: black;
}

.nav-list li:hover {
    background-color: #FFF2B3 ;
    padding: 10px 15px 10px 15px;
    border-radius: 15px;
    }